body {
  font-family: Arial, "Arial Black";
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: 24px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: grey;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  color: #0e0707;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #34e43a;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: rgb(16, 139, 98);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #056b0a;
}

.footer {
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
  color: #6f6b79e5;
}

.footer a {
  color: #5537a8f1;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: purple;
}

.footer hr {
  border: none;
  height: 1px;
  background: #ddd;
  margin: 15px 0;
}
/* Styling for error messages that occurs while jquery live validation*/
.error-message {
  color: red;
  /* Ensure the text color is red */
  font-size: 12px;
  /* Smaller font size for error message */
  margin-top: 5px;
  /* Space between input field and error message */
  display: none;
  /* Initially hidden, shown when validation fails */
  line-height: 1.2;
  /* Ensure the text doesn't take up too much space */
  word-wrap: break-word;
  /* Prevent long words from breaking the layout */
}

/* style for success and error messages that occurs after submitting form */
/* after form submitted */
.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  margin: 0 20px 10px 20px;
  border-radius: 5px;
  text-align: center;
}
/* after form submitted */
.errormes {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin: 0 20px 10px 20px;
  border-radius: 5px;
  text-align: center;
}
